{% extends 'base/index.html' %}
{% block content %}

<body class="body">
    <div class="container">
        <br>
        <form method="post" id="formulario" 
        enctype="multipart/form-data" action="/modificar/{{ dev.id }}/"> 
        
            {% csrf_token %}
            <div class="form-group">
              <label  for="nombre" id="label-nombre">Nombre (*)</label>
              <div>
                <input type="text"  id="nombre" name="nombre" placeholder="nombre" 
                value="{{ pymes.nombre }}" required>
             
              </div>
            </div>

            <hr>
            <button type="submit" class="btn btn-success" id="enviar">Guardar</button>
            <a class="btn btn-secondary" href="/home" role="button">Volver</a>


            
          </form>
    </div>
</body>

{% endblock %}